main {
    text-align: justify;
}

main p{
    margin-left: 20px;
    margin-right: 20px;
}

#mapa{
    width: 70%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

main .intro{
    float: left;
    width: 65%;
    background-color: white;
    border-top-left-radius: 10px;
    padding-bottom: 60px;
}

main .intro table{
    align-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 40px;
}

main .intro table img{
    padding-top: 10px;
}

main .intro table td{
    width: 20%;
}

main .selection{
    float: left;
    width: 65%;
    background-color: white;
    margin-top: 1%;
    border-bottom-left-radius: 10px;
}

main aside{
    float: right;
    width: 34.5%;
    background-color: #ececec;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
}

main aside img{
    float: left;
    margin-right: 5px;
    box-shadow: 1px 1px 2px black;
}

main aside a{
    text-decoration: none;
    font-weight: bold;
    color: #4d0000;
}

main aside label{
    color: #616161;
    font-size: 14px;
}

main aside p{
    overflow: auto;
}

main aside article{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
    align-items: center;
    border-top: 1px solid #616161;
    padding-top: 10px;
}

.selection table{
    margin: auto;
    margin-top: 45px;
    margin-bottom: 50px;
    border: 1px solid #0fcaa2;
    width: 70%;
    text-align: center;
    border-collapse: collapse;
    box-shadow: 1px 1px 2px black;
}

.selection table th{
    color: white;
    background-color: #00001b;
    padding: 10px;
}

.selection table li{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.selection table li a{
    text-decoration: none;
    color: black;
}

.selection table li a:hover{
    font-weight: bold;
    color: #0fcaa2;
}

.par{
    background-color: #e0e0e0;
}
